<h2><%= gettext "Edit %{model_name}", model_name: ngettext("Item", "Items", 1) %></h2>

<%= render "form.html", Map.put(assigns, :action, item_path(@conn, :update, @item)) %>

<span><%= link dgettext("links", "Back"), to: item_path(@conn, :index) %></span>
