<h2>Show Order</h2>

<ul>

  <li>
    <strong>Value:</strong>
    <%= @order.value %>
  </li>

</ul>

<span><%= link "Edit", to: order_path(@conn, :edit, @order) %></span>
<span><%= link "Back", to: order_path(@conn, :index) %></span>
